<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <form>
            <mat-form-field>
                <mat-label>OrderName</mat-label>
                <input type="text" matInput />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Price</mat-label>
                <input type="text" matInput />
            </mat-form-field>
            <mat-form-field>
                <mat-label>qty</mat-label>
                <input type="text" matInput />
            </mat-form-field>

            <div>
                <button type="submit" mat-raised-button color="primary">Add</button>
                <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Cancel</button>
            </div>
        </form>
    </mat-card>
</div>