<!-- <form [formGroup]="employeeservice.form" class="normal-form"> -->
<!-- <mat-grid-list col="2" rowHeight="300px">
        <mat-grid-title>
            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input formControlName="fullName" matInput placeholder="full Name">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="mobile" matInput placeholder="Mobile">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="city" matInput placeholder="City">
                </mat-form-field>
                </div>
        </mat-grid-title>
        <mat-grid-title></mat-grid-title>
    </mat-grid-list> -->
<mat-card fxFlex="40" fxLayoutAlign="center center">
    <form [formGroup]="employeeservice.form" class="normal-form" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column">
    <input type="hidden" formControlName="$key">
    <mat-form-field class="full-width">
        <mat-label>EmployeeName</mat-label>
        <input formControlName="fullName" type="text" matInput placeholder="full Name*" />
        <mat-error>This field is mantoey.</mat-error>
        <!-- <mat-icon matSuffix>shopping_cart</mat-icon> -->
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email" />
        <!-- <mat-icon matSuffix>shopping_cart</mat-icon> -->
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Mobile</mat-label>
        <input formControlName="mobile" matInput placeholder="Mobile*" />
        <mat-error>this fild is mantory</mat-error>
        <!-- <mat-icon matSuffix>shopping_cart</mat-icon> -->
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="deparment" placeholder="Deparment">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let deparment of deparments">
                <mat-option value="{{deparment.id}}">{{deparment.value}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <!-- <mat-form-field>
        <input formControlName="hireDate" [matDatepicker]="picker" placeholder="Hire Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>  -->

    <mat-form-field appearance="fill">
        <!-- <mat-label>Choose a date</mat-label> -->
        <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="full-width">
        <mat-label>City</mat-label>
        <input formControlName="city" matInput placeholder="City" />
        <!-- <mat-icon matSuffix>shopping_cart</mat-icon> -->
    </mat-form-field>
    <mat-radio-group formControlName="gender">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female </mat-radio-button>
        <mat-radio-button value="3">Other </mat-radio-button>
    </mat-radio-group>


    <div fxLayoutAlign="center center">
        <button type="submit" mat-raised-button color="primary" [disabled]="employeeservice.form.invalid">Add</button>
        <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Cancel</button>
    </div>

    </form>
</mat-card>